.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 40px;
}

/* 추가 */
.thumbnail {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  background: #f4f4f4;
}

.name {
  font-size: 28px;
  line-height: 48px;
  font-weight: 700;
  /* 추가 */
  width: 120px;
  height: 48px;
  border-radius: 16px;
  background: #f4f4f4;
}

.msg {
  text-align: center;
  max-width: 400px;
  font-size: 14px;
  font-weight: 500;
  color: #666;
  line-height: 24px;
  /* 추가 */
  width: 180px;
  height: 24px;
  border-radius: 16px;
  background: #f4f4f4;
}

.actions {
  padding: 16px;
}

.edit {
  display: block;
  padding: 4px 8px;
  background: #f4f4f4;
  color: #000;
  line-height: 24px;
  height: 28px;
  border: none;
  border-radius: 24px;
  font: 500 14px Noto Sans KR;
  cursor: pointer;
  /* 추가 */
  width: 88px;
}
